
*{
    margin: 10px;
}
.banner{
    margin: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color:rgb(198, 228, 214);
    border-radius: 10px;
}
.inside1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 60%;

}
.inside1 h1{
    margin-top: 5px;
    width:55% ;
}
.inside1 p{
    opacity: 0.5;
}
.inside1 button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.inside1 button:hover{
    background-color: tomato;
    color:black;
    font-weight: bold;
}
.inside2 img{
    max-width: 550px;
}